*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#img1{
    height: 100vh;
    object-fit: cover;
}
#img2{
    left: 8%;
    top: 6%;
}
h1{
    bottom: 5%;
    left: 8%;
    width: 80%;
}
svg{
    left: 4%;
    top: 25%;
}
#svg{
    left: 92%;
    cursor: pointer;
}   